<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>first_page</servlet-name>
        <servlet-class>first_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainWindow</servlet-name>
        <servlet-class>MainWindow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sub_menu</servlet-name>
        <servlet-class>sub_menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert_item_order</servlet-name>
        <servlet-class>insert_item_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_summary</servlet-name>
        <servlet-class>order_summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_new_item</servlet-name>
        <servlet-class>add_new_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_item</servlet-name>
        <servlet-class>delete_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_placed</servlet-name>
        <servlet-class>order_placed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session_out</servlet-name>
        <servlet-class>session_out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>about_us</servlet-name>
        <servlet-class>about_us</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact_us</servlet-name>
        <servlet-class>contact_us</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert_new_item</servlet-name>
        <servlet-class>insert_new_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first_page</servlet-name>
        <url-pattern>/first_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainWindow</servlet-name>
        <url-pattern>/MainWindow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sub_menu</servlet-name>
        <url-pattern>/sub_menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert_item_order</servlet-name>
        <url-pattern>/insert_item_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_summary</servlet-name>
        <url-pattern>/order_summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_new_item</servlet-name>
        <url-pattern>/add_new_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_item</servlet-name>
        <url-pattern>/delete_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_placed</servlet-name>
        <url-pattern>/order_placed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session_out</servlet-name>
        <url-pattern>/session_out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about_us</servlet-name>
        <url-pattern>/about_us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact_us</servlet-name>
        <url-pattern>/contact_us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert_new_item</servlet-name>
        <url-pattern>/insert_new_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
